body {
	font-family: 'Quicksand', sans-serif;
}

header {
	width: 980px;
	margin-left: 260px;
	margin-top: 64px;
}

.name {
	text-transform: uppercase;
	font-size: 42px;
	text-align: right;
}

.position {
	text-transform: uppercase;
	font-size: 15x;
	text-align: right;
}

.container {
		width: 980px;
}

.line {
	width: 100%;
	height: 5px;
	margin-top: 36px;
}

#content {
	width: 980px;
	margin-left: 260px;
}

.code {
	margin-top: 34px;
}

.title {
	margin-left: 12px;
	margin-top: 45px;
	font-size: 25px;
	color: #7d97ad;
}

.examle {
	text-align: center;
}

.examle p {
	font-size: 26px;
	text-transform: uppercase;
	margin-top: 18px;
}

.examle h5 {
	font-size: 12px;
	margin-top: 18px;
}

.row {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}